@model BookRental.ViewModel.LoginUsers
@using BookRental.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderComplete</title>
</head>
<body>
    <div> 
        <h1>Your Order successfully Complete</h1>
        <div id="button"><a href="~/Home/Index">Return</a></div>

    </div>
</body>
</html>
