
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateCompelte</title>
</head>
<body>
    <div> 
        <h1>Your Order Update successfully.</h1>
        <div id="button"><a href="~/Home/Index">Return</a></div>
    </div>
</body>
</html>
